@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.success {
    border: 1px solid green !important;
    font-family: 'Roboto', sans-serif;

}
.form>input{
    background: #FFFFFF;
    width: 300px;
    padding: 10px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
}

.form>button{
    background: #4CA5FF;
    border-radius: 4px;
    width: 5em;
    margin-left: 1em;
    height: 40px;
    outline: none;
    border: 2px solid #4CA5FF;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.form>button:hover{
    background: #fff;
    transition: .3s all;
    color: #000;
    border: 2px solid #000;
}
.total{
    margin-left: 1em;
}
.error {
    border: 1px solid red !important;
    font-family: 'Roboto', sans-serif;
}